*{box-sizing: border-box;
margin: 0;
padding: 0;}
body{
    background-color: #aaaaaa;
}
main{
    width: 1100px;
    background-color: white;
    padding: 40px 40px;
}
.beginner-influencer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.new-influencer{
    color: black;
}
.new-products li a{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}
.new-chance::before{
    content: "Start Your Journey As Influencer";
    color: orange;
    position: relative;
    top: 0;
    left: 0;
    animation: typing 3s linear infinite;
    z-index: 2;
}
@keyframes typing {
    0%{
        content:"";
    }
    3%{
        content: "";
    }
    6%{
        content: "S|";
    }
    9%{
        content: "St|";
    }
    12%{
        content: "Sta|";
    }
    15%{
        content: "Star|";
    }
    18%{
        content: "Start|";
    }
    21%{
        content: "Start| ";
    }
    24%{
        content: "Start Y|";
    }
    27%{
        content: "Start Yo|";
    }
    30%{
        content: "Start You|";
    }
    33%{
        content: "Start Your|";
    }
    36%{
            content: "Start Your| ";
        }
    39%{
        content: "Start Your J|";
    }
    42%{
        content: "Start Your Jo|";
    }
    45%{
        content: "Start Your Jou|";
    }
    48%{
        content: "Start Your Jour|";
    }
    51%{
        content: "Start Your Journ|";
    }
    54%{
        content: "Start Your Journe|";
    }
    57%{
        content: "Start Your Journey|";
    }
    60%{
        content: "Start Your Journey| ";
    }
    63%{
        content: "Start Your Journey A|";
    }
    66%{
        content: "Start Your Journey As|";
    }
    69%{
        content: "Start Your Journey As| ";
    }
    72%{
        content: "Start Your Journey As I|";
    }
    75%{
        content: "Start Your Journey As In|";
    }
    78%{
        content: "Start Your Journey As Inf|";
    }
    81%{
        content: "Start Your Journey As Infl|";
    }
    84%{
        content: "Start Your Journey As Influ|";
    }
    87%{
        content: "Start Your Journey As Influe|";
    }
    90%{
        content: "Start Your Journey As Influen|";
    }
    93%{
        content: "Start Your Journey As Influenc|";
    }
    96%{
        content: "Start Your Journey As Influence|";
    }
    99%{
        content: "Start Your Journey As Influencer|";
    }
}
.influencer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-chance{
    font-size: 3em;
    position: relative;
    margin-bottom: 40px;
}
.grab-first{
    color: white;
    border: none;
    background-color: #E02C6D;
    width: 140px;
    height: 30px;
    border-radius: 30px;
    margin-top: 10px;
}
.high-tech{
    display: flex;
    justify-content: center;
    align-items: center;
}
.company{
    justify-content: center;
    width: 900px;
    height: 60px;
    border: 0.2px solid rgba(82, 81, 81, 0.123);
    border-left: 0;
    border-right: 0;
    margin-left: 50px;
}
.high-tech img{
    margin: 0 20px;
}
.fa-star.filled{
    color: goldenrod;
}
.fa-star.empty{
    color: gray;
}
.new-product{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.popular{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
}

.collection{
    background-color: #FFFFFF;
    width: 320px;
    height: 400px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgba(99, 98, 98, 0.205);
}
span{
    display: block;
}
.explore{
    text-align: end;
    color: #E02C6D;
    background-color: white;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 940px;
}
.the-end{
    width: 100%;
    height: 180px;
    background-color: rgb(25, 2, 41);
}
.end{
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 400px;
    padding-top: 50px;
}